$bg-colorX: red;
$bg-imageX: "../assets/P5.jpg";

@mixin bgImageX($bgImage) {
    background-image: url($bg-imageX);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

body {
    // background-color: $bg-colorX;
    @include bgImageX($bg-imageX);
}